<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Site name{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/thiktakcore/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/thiktakcore/css/bootstrap-responsive.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/bdemain/css/style.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block base_body %}{% endblock %}

        <!-- Javascripts -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/thiktakcore/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
