{% extends "::base.html.twig" %}
{% block base_body %}
     
    <!-- Modal -->
    <div id="modalForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div>...</div>
      </div>
      <div class="modal-body">
        <p>...</p>
      </div>
      <div class="modal-footer hide">
      </div>
      <!--<div style="position: absolute; top: .5em; right: .5em; z-index: 9999999">
        <span class="close" data-dismiss="modal" aria-hidden="true">×</span>
      </div>

      <div class="modal-body" style="padding: 0;"></div>-->
    </div>

    <div id="global">
      <nav id="menu">
        <ul>
          <li>
            <a href="{{ path('_welcome') }}" class="ajax" title="Dashboard">
              &nbsp;<i class="icon-chevron-up icon-white"></i>&nbsp;
            </a>
          </li>
          <li>
            <a href="{{ path('contact') }}" class="ajax" title="Contacts">
              &nbsp;<i class="icon-user icon-white"></i>&nbsp;
            </a>
          </li>
          <li>
            <a href="{{ path('house') }}" class="ajax" title="Houses">
              &nbsp;<i class="icon-home icon-white"></i>&nbsp;
            </a>
          </li>
          <li>
            <a href="{{ path('lease') }}" class="ajax" title="Leases">
              &nbsp;<i class="icon-folder-open icon-white"></i>&nbsp;
            </a>
          </li>
        </ul>
      </nav>

      <div id="container">
        <header id="head">
          <form action="#" method="GET" class="search-bar pull-right">
            <label class="input-append">
              <input id="search" name="query" type="text" class="search" placeholder="Ctrl + q">
              <span style="display: inline-block; padding: 2px; padding-left: 8px;"><i class="icon-search"></i></span>
            </label>
          </form>

          <hgroup>
            <h1>Locator <span class="muted">(Gestion de locations)</span></h1>
          </hgroup>
        </header>

        <div id="container-loader" style="background-color: rgba(0, 0, 0, .5); position: absolute; top: 35px; left: 5px; right: 5px; bottom: 5px; z-index: 99999; display: none"></div>
        <div id="container-body">
          {% set _menu = block('menu') %}
          {% if not(_menu is empty) %}
          <nav id="left">
            {{ _menu|raw }}
          </nav>
          {% endif %}

          <section id="content">
            {% set msg = app.session.getFlashes() %}
            {% if msg|length > 0 %}
            <div class="flash-msg">
            {% for key, flash in msg %}
              <div class="alert alert-{{ key }}">{{ flash }}</div>
            {% endfor %}
              <div class="clearfix"></div>
            </div>
            {% endif %}

            {{ block('body') }}
          </section>
        </div>
      </div>
    </div>
    <footer id="footer">
      &copy; Olivarès Georges
    </footer>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" />
    <style>
      td { padding: 2px 5px; }
      .text-right { text-align: right; }

      ul.actions li.active { opacity: 1; }
      ul.no-opacity li { opacity: 1; }

      ul.actions { display: inline-block; margin: 0 5px; }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>
      $(document).ready(function() {
        // date picker
        $('input[type="date"]').datepicker({'dateFormat': 'yy-mm-dd'});

        // `a` tag active class
        url = window.location.pathname;
        $('a[href="' + url + '"]').addClass('active');

        var modalOriginal = null;
        $('a[data-modal]').click(function(e) {
          jQuery.noConflict();
          _modal = $(this).attr('data-modal');

          if( modalOriginal == null )
            modalOriginal = $('#' + _modal).html();
          else
            $('#' + _modal).html(modalOriginal);

          $('#' + _modal).modal('show');

          $.get($(this).attr('href'), function(datas) {
            header = $(datas).find('#content > header');
            header.find('aside').remove();

            $('#' + _modal + ' .modal-header > div').html(header);

            body = $(datas).find('#content > form');
            body.find('.form-actions');//.removeClass().addClass('modal-footer');
            $('#' + _modal + ' .modal-body').html(body);
          });

          e.preventDefault();
          return false;
        });
      });

      $(document).keypress('q',function(e) {
        if( e.ctrlKey )
          $('#search').focus();
      });

      /*
      $('a.ajax').click(function() {
        $('#container-loader').fadeIn();
        $('#container-body').load($(this).attr('href') + ' #container-body > *', function() {
          setTimeout(function() { $('#container-loader').fadeOut(); }, 500);
        });
        return false;
      });
      // */
    </script>
{% endblock %}