{% extends "::layout.html.twig" %}

{% block menu %}
  {% render "LocatorContactBundle:Contact:menu" %}
{% endblock %}

{% block body %}
        <header>
          <hgroup>
            <h1>{{ 'Contact new'|trans }}</h1>
          </hgroup>
          <aside>
            <ul>
                <li>
                    <a href="{{ path('contact') }}">
                        Back to the list
                    </a>
                </li>
            </ul>
          </aside>
        </header>

        <form class="body form-horizontal" action="{{ path('contact_create') }}" method="post" {{ form_enctype(form) }}>
          <div class="main main-form">
            {{ form_widget(form) }}
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
{% endblock %}